# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Database
*.db
*.sqlite

# OS
.DS_Store
Thumbs.db

# Ваши конфиги с секретами
config.py
.env

# Папки с картинками (если не нужны в репозитории)
/img/
*.jpg
*.png